body {
  font-family: Monaco, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #befea0;
  color: #000000;
  padding: 30px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

.nav {
  background-color: #8bdfca; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 3px;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 50px;
}

footer {
  background-color: #8bdfca;
  color: #000000;
  text-align: center;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.fade-in-text {
  font-family: Arial;
  font-size: 50px;
  animation: fadeIn 5s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


body {
  margin-top: 100px;
}
header {
  position: fixed; 
  left: 0;
  top: 0;
  height: 3%;
  width: 100%; 
  text-align: right;
  background-color: #8bdfca;
  padding: 10px 0;
}

title p {
text-align: left;
}

footer {
  position: fixed; 
  left: 0;
  bottom: 0;
  height: 3%;
  width: 100%; 
  text-align: center;
  background-color: #8bdfca;
  padding: 10px 0;
}

h1 {
  margin: 0;
  padding: 0;
}

/* CSS */
.button-3 {
  appearance: none;
  background-color: #453863;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #56467a;
}

.button-3:focus {
  box-shadow: #6a5696 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #6a5696;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

.button-3:active {
  background-color: #6a5696;
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 3rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
  color: rgb(0, 0, 0);
  font-size: 2rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
  height: 200vh;
}

.tag {
  opacity: 0;
  transform: translate(0, 10vh);
  transition: all 1s;
}

.tag.visible {
  opacity: 1;
  transform: translate(0, 0);
}

.yellow {
  background-color: lightyellow;
}
.red {
  background-color: lightcoral;
}
.blue {
  background-color: lightblue;
}
.green {
  background-color: lightgreen;
}



.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  width: 6ch;
  animation: typing 2s steps(6), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 6em;
}

@keyframes typing {
  from {
    width: 0
  }
}
    
@keyframes blink {
  50% {
    border-color: transparent
  }
}

.parallax {
  /* The image used */
  background-image: url("https://media.istockphoto.com/id/1235240586/photo/library-bookshelves-with-books-and-textbooks-learning-and-education-concept.jpg?s=612x612&w=0&k=20&c=nVkVTIfKb1a6fvucYzcI7ug8S74tcJ5lH3eZJ0qvaRw=");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}