<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <title>About</title>
  <link rel="stylesheet" href="/public/css/index.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top navbar-custom">
  <a class="navbar-brand" href="/">Writle</a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    </div>
  </nav>
  
<main>
  <h1 style="text-align: left;font-size: 300%;">About</h1>
  <div style="text-align: left;">
    <h1 style="text-align: left;font-size: 100%;">Welcome to Writle, your innovative platform designed to streamline your writing process and enhance your creative endeavors. Writle is crafted with the understanding that every narrative is a complex tapestry of ideas, characters, and themes. Our goal is to provide you with a comprehensive tool that not only stores your projects but also organizes them in a way that enriches your writing experience.<br><br></h1>
  </div>

  <h1 style="text-align: left;font-size: 300%;">How Writle Enhances Your Writing</h1>
  <div style="text-align: left;">
    <h1 style="text-align: left;font-size: 200%;">Creating a Project:<br>
    <h1 style="text-align: left;font-size: 100%;">Your journey on Writle begins with a project. Each project is a dedicated space for a specific story or piece of writing you're working on. It's where your creativity takes shape and transforms into text.<br><br>
    <h1 style="text-align: left;font-size: 200%;">Documents & Collections:<br>
    <h1 style="text-align: left;font-size: 100%;"> Documents: The backbone of your project, documents are where your main text lives. This is where you write your chapters, scenes, or articles. Documents are designed to be dynamic, allowing for text highlighting that links directly to your notes.<br><br>
      
      Collections: These are repositories for your entries, serving as notes that directly relate to your text. Collections help you organize thoughts, character bios, research, and any other supplementary information that supports your document. When a piece of text in your document is associated with an entry in a collection, Writle provides a seamless way to view those notes.<br><br>
      
      Highlighting and Cross-Referencing:
      Writle's powerful feature is the ability to highlight specific texts within your documents and associate them with entries in your collections. For example, highlighting a character's name in your document allows you to quickly access a pop-up of notes related to that character—stored in your collections. This instant access to associated notes helps you maintain narrative consistency and deepen your story's complexity without disrupting your writing flow.<br><br>
      
  <h1 style="text-align: left;font-size: 300%;">Why Choose Writle?</h1> 
  <h1 style="text-align: left;font-size: 100%;">Writle is not just a writing platform; it's a system designed to make your writing process as fluid and intuitive as possible. With Writle, you can:<br><br>

    • Centralize your writing projects and supporting notes in one accessible place.<br><br>
    • Leverage documents for your main writing space, with the flexibility to highlight and link text to detailed notes.<br><br>
    • Organize and categorize your research, character studies, and thematic elements in collections for easy access.<br><br>
    • Enhance your writing efficiency through quick cross-referencing between your text and related notes.<br><br>
    • Whether you are penning a novel, drafting a research paper, or plotting a screenplay, Writle provides the tools you need to bring your vision to life. Embark on your writing journey with Writle today and experience a revolution in how you write.<br><br>   
  </div>

<div class="spacer" style="height: 20vh;"></div>
</main>

  <footer class="py-5 mt-5 footer-custom">
    <div class="container text-light text-center">
      <p class="display-t mb-3">Writle</p>
      <small class="text-white-50">&copy; Copyright © 2024, Writle. All rights reserved.</small>
  </div>
  </footer>
  
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>