<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/document.css">
  <style id="highlight-style"></style>
</head>

<body>
  <script src="/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
  <script src="https://unpkg.com/docx@7.1.0/build/index.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
  <div class="grid-container">
    <div class="grid-item" id="grid-editor">
      <form id="editor-form" method="post" action="/document">
        <% if (locals.doc) { %>
        <input type="hidden" id="proj-id" value="<%= doc.proj_id %>">
        <input type="hidden" name="id" value="<%= doc.id %>">
        <% } %>
        <input type="text" name="title" id="title" placeholder="Title" value="<%= locals.doc ? doc.title : '' %>" /> <br />
        <textarea name="editor" id="document"><%= locals.doc ? doc.body : '' %></textarea>
        <div class="form-buttons">
          <button id="test-alias" type="button">Reload Aliases</button>
          <button id="remove-alias" type="button" onclick="removeHighlights()">Remove Aliases</button>
          <button type="submit">Submit</button>
        </div>
      </form>
    </div>
    <div class="grid-item" id="grid-coll">
      <div id="current-collection">
        <div class="buttons">
          <button id="prev-collection">&larr;</button> <button id="next-collection">&rarr;</button>
        </div>
        <h1 id="collection-title"></h1>
        <div id="entries"></div>
      </div>
    </div>
  </div>
</body>
<script src="/public/javascript/document.js"></script>

</html>