<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script src="/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
      tinymce.init({
        selector: "#mytextarea",
      });
    </script>
    <form action="/document" method="post">
      <input type="text" name="Title" id="Title" placeholder="Title" /> <br />
      <textarea name="editor" id="mytextarea"></textarea>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
