<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <p>Username: <%= user %></p>
    <form action="/home" method="post">
      <label for="document">Choose a project:</label>
      
      <select name="document" id="document">
        <% projs.forEach(e => { %>  
          <option value="<%= e.id %>"><%= e.title %></option>
        <% }); %>
      </select>
      <input type="submit" value="Submit">      
    </form>
  </body>
</html>