<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="mrowww.css">
  </head>
  <body style=background-color:#1c87c9;>
    <h3>Login</h3>
    <a href="/signup">Sign Up</a>
    <form action="/login" method="post">
      <input type="text" name="username" id="username" placeholder="Username" />
      <br />
      <input type="text" name="password" id="password" placeholder="Password" />
      <br />
      <button class="button-3" role="button" input type="submit" value="Submit">Submit</button>
      <p><%= locals.error ? error : '' %></p>
    </form>
  </body>
</html>
