<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>
</head>

<body>
  <h1>Login</h1>
  <a href="/signup">Sign Up</a>
  <form action="/login" method="post">
    <input type="text" name="username" required id="username" placeholder="Username" />
    <br />
    <input type="password" name="password" required id="password" placeholder="Password" />
    <br />
    <input type="submit" value="Submit" />
    <p><%= locals.error ? error : '' %></p>
  </form>
</body>

</html>