<!doctype html>
<html lang="en" class="vh-100">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/css/partials/header.css">
  <link rel="stylesheet" href="/public/css/partials/footer.css">
  <title>Sign Up</title>
  <link rel="stylesheet" href="/public/css/signup.css">
</head>

<body>
  <%- include('partials/nav.ejs') %>

  <div class="container mt-5 flex-grow-1">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center">Sign Up</h2>
            <form action="/signup" method="post">
              <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" required>
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" name="email" required>
              </div>
              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              <div class="mb-3">
                <label for="password2" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="password2" name="password2" required>
              </div>
              <button type="submit" class="btn btn-block">Submit</button>
            </form>
            <p class="mt-3"><%= locals.error ? error : '' %></p>
          </div>
        </div>
      </div>
    </div>
    </nav>

    <div class="content-box" id="defaultContent">
      <h1>Sign Up</h1>
      <form action="/signup" method="post" autocomplete="off">
        <input type="text" name="username" required id="username" placeholder="Username" />
        <br />
        <input type="email" name="email" required id="email" placeholder="Email" /> <br />
        <input type="password" name="password" required id="password" placeholder="Password" />
        <br />
        <input type="password" name="password2" required id="password2" placeholder="Confirm Password" />
        <br />
        <input type="submit" value="Submit" />
      </form>
      <p><%= locals.error ? error : '' %></p>
    </div>

    <%- include('partials/footer.ejs') %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>