<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sign Up</title>
  <link rel="stylesheet" href="mrowww.css">
</head>

<body style=background-color:#1c87c9;>
  <h3>Sign Up</h3>
  <form action="/signup" method="post" autocomplete="off">
    <input type="text" name="username" id="username" placeholder="Username" />
    <br />
    <input type="email" name="email" id="email" placeholder="Email" /> <br />
    <input type="password" name="password" id="password" placeholder="Password" />
    <br />
    <input type="password" name="password2" id="password2" placeholder="Confirm Password" />
    <br />
    <button class="button-3" role="button" input type="submit" value="Submit">Submit</button>
  </form>
  <p><%= locals.error ? error : '' %></p>
</body>

</html>
