body {
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
  grid-auto-rows: minmax(100px, auto);
  height: 95vh;
}

.grid-item {
  background-color: rgb(244, 255, 252);
  border-radius: 1em;
}

#grid-editor {
  grid-column: 1;
}

#grid-coll {
  grid-column: 2;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.collnav {
  color: #ffffff !important;
  background: #61e6a6 !important;
  font-weight: bolder !important;
  width: 100%;
}

.collnav:hover {
  background: #6effb9 !important;
}

#current-collection {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#entries {
  background-color: white;
  border: rgb(238, 238, 238) 2px solid;
  border-radius: 0.8em;
  flex-grow: 1;
  overflow-y: auto;
}

.entry.highlight {
  animation: fadeout 1s forwards;
}

@keyframes fadeout {
  from {
    background-color: var(--highlight-color);
  }
  to {
    background-color: white;
  }
}

#editor-form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.tox {
  flex-grow: 1;
  border-top: none !important;
  border-radius: 0 0 10px 10px !important;
}

#title {
  border-bottom: none !important;
  border-radius: 10px 10px 0 0 !important;
  border-width: 2px !important;
  border-color: #eee !important;
}

h6 > span {
  padding: 0 5px;
  border-radius: 5px;
}
