body,
html {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#page-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content-box {
  flex-grow: 1;
  margin: 2rem auto;
  background-color: #fff;
}

.dialog-box {
  padding: 20px;
  border: rgb(238, 238, 238) 2px solid;
  border-radius: 0.8em;
}

.btn {
  color: #ffffff !important;
  background: #61e6a6 !important;
  font-weight: bolder !important;
  width: 100%;
}

.btn:hover {
  background: #6effb9 !important;
}

.btn-delete {
  color: #ffffff !important;
  background: #db4141 !important;
  font-weight: bolder !important;
  width: 100%;
}

.btn-delete:hover {
  background: #eb3d3d !important;
}

.secondary {
  background: #276145 !important;
  font-weight: bolder !important;
  width: 100%;
}

.secondary:hover {
  background: #39835f !important;
}
