html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin-top: 56px; 
}

main {
  flex: 1;
}

.navbar-custom, .footer-custom {
  background-color: #7FE2B2 !important;
  color: white !important;
}

.navbar-custom .navbar-brand, 
.navbar-custom .nav-link, 
.footer-custom a {
  color: white !important;
}