body,
html {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.item {
  border: 1px solid #ccc;
  border-radius: 0.8em;
  padding: 10px;
  text-align: center;
  width: 149px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.item button {
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}

.add-new {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-style: dashed;
  border-radius: 0.8em;
}

.box-holder h2 {
  width: 100%;
}

.box-holder {
  flex-direction: column;
  align-items: flex-start;
}

.box-holder .item-container {
  display: flex;
  flex-wrap: wrap;
}

.doc-dropdown,
.coll-dropdown {
  position: absolute;
  top: 0;
  right: 0;
}

.item {
  position: relative;
}
