body, html {
  margin: 0;
  padding: 0;
}

body {
  padding-top: 56px; 
}

.content-box {
  width: 50%;
  padding: 20px;
  border: 1px solid #000;
  text-align: center;
  margin: 2rem auto;
  background-color: #fff;
}

footer {
  margin-top: auto; 
}

html {
  position: relative;
  min-height: 100%;
}

.navbar-custom, .footer-custom {
  background-color: #7FE2B2 !important;
  color: white !important;
}

.navbar-custom .navbar-brand, 
.navbar-custom .nav-link, 
.footer-custom a {
  color: white !important;
}
